@mixin flexPosition($justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin response($breakpoint) {
  // 1650px = fullscreen
  // @if ($breakpoint == xl) {
  //     @media(max-width: 1300px) {
  //         @content;
  //     }
  // }
  // @if ($breakpoint == lg) {
  //     @media(max-width: 1140px) {
  //         @content;
  //     }
  // }
  // @if ($breakpoint == md) {
  //     @media(max-width: 1000px) {
  //         @content;
  //     }
  // }
  // @if ($breakpoint == sm) {
  //     @media(max-width: 700px) {
  //         @content;
  //     }
  // }
  // @if ($breakpoint == xs) {
  //     @media(max-width: 510px) {
  //         @content;
  //     }
  // }
  @if ($breakpoint == mobile) {
    @media (max-width: 420px) {
      @content;
    }
  }
}
